* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: aqua;
}
.dice {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sub-dice {
  display: flex;
  justify-content: center;
  width: 70%;
  height: 70vh;
  background-color: rgb(123, 123, 230);
  margin: auto;
  align-items: center;
  margin-top: 50px;
  border-radius: 15px;
}
.roll {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.roll button {
  padding: 5px 12px;
}
label {
  display: flex;
  width: 150px;
  height: 150px;
  border: 2px solid #444;
  /* text-align: center; */
  justify-content: center;
  place-items: center;
  border-radius: 10px;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 2em;
  
}
.sub-dice {
  display: flex;
  justify-content: space-around;
  gap: 0.4em;
}
h2{
   font-size:25px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   text-transform: capitalize;
}
